module.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="condition_wizard">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="column"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lookup">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="key" use="optional"/>
          <xs:attribute type="xs:string" name="column" use="optional"/>
          <xs:attribute type="xs:string" name="table" use="optional"/>
          <xs:attribute type="xs:string" name="display" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="module">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="version" use="required"/>
          <xs:attribute type="xs:string" name="name" use="required"/>
          <xs:attribute type="xs:string" name="author" use="required"/>
          <xs:attribute type="xs:string" name="type"/>
          <xs:attribute type="xs:string" name="description" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="key">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="description" use="optional"/>
          <xs:attribute type="xs:string" name="value" use="optional"/>
          <xs:attribute type="xs:string" name="options" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="variable">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="condition_wizard" minOccurs="0"/>
        <xs:element ref="lookup" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="display_columns" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="image_upload">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="folder"/>
          <xs:attribute type="xs:string" name="image_format"/>
          <xs:attribute type="xs:string" name="id_column"/>
          <xs:attribute type="xs:string" name="display_column"/>
          <xs:attribute type="xs:string" name="table"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="theme_table">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="user_data">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="table" use="optional"/>
          <xs:attribute type="xs:string" name="column" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="requires">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name"/>
          <xs:attribute type="xs:string" name="version"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="module"/>
        <xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="variable" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="table" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="image_upload" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="theme_table" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="user_data" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="requires" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
